# systemd service for cattenbak, to be started by cattenbak.timer
[Unit]
Description=Generate discovery for geteduroam

[Service]
# We should use oneshot, but the process runs too long
Type=simple
ExecStart=/usr/bin/make -BC /opt/geteduroam/cattenbak prod
User=geteduroam
Group=geteduroam
