[Unit]
Description=Update discovery data via cattenbak

[Service]
Type=oneshot
ExecStart=/opt/cattenbak/cattenbak.py --discovery-plain /var/www/v1/discovery.json --discovery-geo /var/www/v1/discovery-geo.json
User=cattenbak
Group=cattenbak
