[Unit]
Description=Update discovery data via cattenbak

[Service]
Type=oneshot
ExecStart=/opt/cattenbak/cattenbak.py --file-path /var/www/v1/discovery.json
User=cattenbak
Group=cattenbak
